@font-face {
  font-family: ChivoBlack;
  src: url(../fonts/Chivo-Black.ttf); }
@font-face {
  font-family: ChivoBlackItalic;
  src: url(../fonts/Chivo-BlackItalic.ttf); }
@font-face {
  font-family: ChivoItalic;
  src: url(../fonts/Chivo-Italic.ttf); }
@font-face {
  font-family: Chivo;
  src: url(../fonts/Chivo-Regular.ttf); }
@font-face {
  font-family: ChivoBlack;
  src: url(../fonts/Chivo-Black.ttf); }
@font-face {
  font-family: OpenSansBold;
  src: url(../fonts/OpenSans/OpenSans-Bold.ttf); }
@font-face {
  font-family: OpenSansBoldItalic;
  src: url(../fonts/OpenSans/OpenSans-BoldItalic.ttf); }
@font-face {
  font-family: OpenSansExtraBold;
  src: url(../fonts/OpenSans/OpenSans-ExtraBold.ttf); }
@font-face {
  font-family: OpenSansExtraBoldItalic;
  src: url(../fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf); }
@font-face {
  font-family: OpenSansItalic;
  src: url(../fonts/OpenSans/OpenSans-Italic.ttf); }
@font-face {
  font-family: OpenSansLight;
  src: url(../fonts/OpenSans/OpenSans-Light.ttf); }
@font-face {
  font-family: OpenSansLightItalic;
  src: url(../fonts/OpenSans/OpenSans-LightItalic.ttf); }
@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf); }
@font-face {
  font-family: OpenSansSemiBold;
  src: url(../fonts/OpenSans/OpenSans-Semibold.ttf); }
@font-face {
  font-family: OpenSansSemiBoldItalic;
  src: url(../fonts/OpenSans/OpenSans-Semibolditalic.ttf); }
a, h1, h2, h3, h4, h5, h6, a:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
  text-decoration: none;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: "OpenSans"; }

.point-container {
  width: 1000px; }

.top-bar {
  height: 30px;
  width: 100%;
  background: #41ade2; }
  .top-bar .login-register {
    float: right;
    font-size: 12px;
    color: #fff;
    cursor: pointer; }
    .top-bar .login-register a {
      color: #fff;
      line-height: 26px;
      padding: 0; }
      .top-bar .login-register a:hover {
        color: #fff; }
    .top-bar .login-register .dropdown.open {
      background: transparent; }
      .top-bar .login-register .dropdown.open li a {
        color: #41ADE2; }
  .top-bar .nav .open > a {
    background: transparent; }
    .top-bar .nav .open > a:focus, .top-bar .nav .open > a:hover {
      background: transparent; }
  .top-bar .nav > li > a:focus, .top-bar .nav > li > a:hover {
    background: transparent; }

.search-wrapper {
  margin-top: 70px;
  background: #f5f5f5;
  min-height: 500px; }
  .search-wrapper h2 {
    font-family: OpenSansLight;
    font-size: 36px;
    color: #41ADE2;
    text-align: center;
    padding: 30px 0; }

.point-search {
  min-height: 300px;
  width: 600px;
  background: #fcfcfc;
  margin: 0 auto; }
  .point-search h2 {
    font-family: OpenSans;
    font-size: 14px;
    color: #666;
    text-align: center;
    padding: 50px 0; }
  .point-search .point-search-box {
    width: 475px;
    height: 40px;
    margin: 0 auto;
    display: block;
    padding: 0 10px;
    color: #666; }

.search-submit {
  padding: 11px 45px;
  background: #41ade2;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  margin: 35px auto 0 auto;
  color: #fff; }

.search-grid {
  padding: 60px 0; }
  .search-grid .grid-title {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 0; }
    .search-grid .grid-title h3 {
      font-size: 18px;
      color: #41ade2; }
  .search-grid .grids {
    margin-top: 20px; }
    .search-grid .grids .grid-item {
      padding-left: 7px;
      padding-right: 7px;
      margin-top: 15px; }
      .search-grid .grids .grid-item .gray-grid {
        min-height: 125px;
        background: #c3c3c3;
        width: 100%; }
      .search-grid .grids .grid-item .grid-detail {
        padding: 10px;
        background: #f9f9f9; }
        .search-grid .grids .grid-item .grid-detail h5 {
          font-size: 12px;
          color: #41ade2;
          padding: 2px 2px 5px 2px;
          line-height: 20px; }
        .search-grid .grids .grid-item .grid-detail span.grid-package {
          color: #666666;
          font-size: 12px;
          float: left; }
        .search-grid .grids .grid-item .grid-detail span.grid-agencies {
          color: #666666;
          font-size: 12px;
          float: right; }

.point-container {
  padding-left: 0;
  padding-right: 0; }
  .point-container .point-newsletter {
    min-height: 125px;
    background: url("../images/signup-banner.jpg");
    background-size: cover;
    padding: 10px 50px;
    position: relative; }
    .point-container .point-newsletter h3 {
      font-size: 40px;
      color: #fff;
      font-family: OpenSansLight;
      padding: 5px 0; }
    .point-container .point-newsletter small {
      color: #fff;
      font-size: 15px;
      padding: 8px 0;
      display: inline-block; }
    .point-container .point-newsletter a.newsletter-join {
      display: block;
      position: absolute;
      right: 50px;
      top: 35%;
      padding: 10px 35px;
      color: #fff;
      background: #41ade2;
      text-transform: uppercase;
      font-size: 13px;
      text-align: center;
      border-radius: 5px; }

footer {
  background: #f5f5f5;
  padding-top: 40px;
  margin-top: 60px;
  min-height: 380px; }
  footer .footer-detail h3 {
    color: #41ade2;
    font-size: 18px; }
  footer .footer-detail ul {
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none; }
    footer .footer-detail ul a, footer .footer-detail ul li {
      font-size: 12px;
      line-height: 24px;
      color: #41ade2; }
    footer .footer-detail ul a {
      margin-left: 13px; }
  footer .direct-contact h3 {
    margin-bottom: 10px; }
  footer .direct-contact span {
    font-size: 12px;
    color: #41ade2;
    line-height: 24px;
    display: block; }
  footer .footer-bottom {
    padding: 10px 0;
    height: 60px;
    margin-top: 20px;
    background: #41ade2; }

.dropdown-agency-menu li a {
  padding: 0px 10px !important;
  font-weight: normal;
  font-size: 13px; }
  .dropdown-agency-menu li a i {
    margin-right: 10px; }

select[name='language'] {
  float: right;
  margin-top: 5px;
  border: 0px solid #e1e1e1;
  margin-left: 10px;
  color: #41ade2;
  text-align: center;
  background: #fff; }

li.login_register {
  position: relative; }

.login_dialog {
  width: 600px;
  min-height: 300px;
  position: absolute;
  background: #fff;
  right: 0px;
  top: 29px;
  border: 1px solid #41ade2; }

.nav-tabs {
  margin-bottom: 15px; }

.sign-with {
  margin-top: 25px;
  padding: 20px; }

div#OR {
  height: 30px;
  width: 30px;
  border: 1px solid #C2C2C2;
  border-radius: 50%;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  font-size: 12px;
  float: right;
  position: absolute;
  right: -16px;
  top: 40%;
  z-index: 1;
  background: #DFDFDF; }

.pointnepal-modal-header .close {
  color: #000; }

.pointnepal-modal-content {
  background: #f3f3f3;
  border: none; }

.pointnepal-modal-header {
  background: #41ade2;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  color: #fff; }

.point-response-message {
  display: none; }

#ShowMessage {
  margin-top: 10px; }

.alert ul, .alert li {
  margin: 0;
  padding: 0 0 0 13px; }

/*# sourceMappingURL=home.css.map */
