@font-face {
  font-family: ChivoBlack;
  src: url(../fonts/Chivo-Black.ttf); }
@font-face {
  font-family: ChivoBlackItalic;
  src: url(../fonts/Chivo-BlackItalic.ttf); }
@font-face {
  font-family: ChivoItalic;
  src: url(../fonts/Chivo-Italic.ttf); }
@font-face {
  font-family: Chivo;
  src: url(../fonts/Chivo-Regular.ttf); }
@font-face {
  font-family: ChivoBlack;
  src: url(../fonts/Chivo-Black.ttf); }
@font-face {
  font-family: OpenSansBold;
  src: url(../fonts/OpenSans/OpenSans-Bold.ttf); }
@font-face {
  font-family: OpenSansBoldItalic;
  src: url(../fonts/OpenSans/OpenSans-BoldItalic.ttf); }
@font-face {
  font-family: OpenSansExtraBold;
  src: url(../fonts/OpenSans/OpenSans-ExtraBold.ttf); }
@font-face {
  font-family: OpenSansExtraBoldItalic;
  src: url(../fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf); }
@font-face {
  font-family: OpenSansItalic;
  src: url(../fonts/OpenSans/OpenSans-Italic.ttf); }
@font-face {
  font-family: OpenSansLight;
  src: url(../fonts/OpenSans/OpenSans-Light.ttf); }
@font-face {
  font-family: OpenSansLightItalic;
  src: url(../fonts/OpenSans/OpenSans-LightItalic.ttf); }
@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf); }
@font-face {
  font-family: OpenSansSemiBold;
  src: url(../fonts/OpenSans/OpenSans-Semibold.ttf); }
@font-face {
  font-family: OpenSansSemiBoldItalic;
  src: url(../fonts/OpenSans/OpenSans-Semibolditalic.ttf); }
@font-face {
  font-family: BebasNeueBold;
  src: url(../fonts/BebasNeue/BebasNeueBold.ttf); }
@font-face {
  font-family: BebasNeueBold;
  src: url(../fonts/BebasNeue/BebasNeueBold.ttf); }
@font-face {
  font-family: BebasNeueBook;
  src: url(../fonts/BebasNeue/BebasNeueBook.ttf); }
@font-face {
  font-family: BebasNeueLight;
  src: url(../fonts/BebasNeue/BebasNeueLight.ttf); }
@font-face {
  font-family: BebasNeueRegular;
  src: url(../fonts/BebasNeue/BebasNeueRegular.ttf); }
.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.main-page {
  background: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

body {
  font-family: Chivo;
  font-size: 13px; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    margin: 0;
    padding: 0; }
  body .fa {
    min-width: 14px; }
  body a:hover, body a:active, body a:focus {
    color: #000;
    box-shadow: none;
    text-decoration: none; }
  body input:focus, body input:active, body input:hover {
    color: #000;
    box-shadow: none;
    text-decoration: none; }
  body .form-control {
    color: #000;
    box-shadow: none;
    text-decoration: none; }
  body .popupBox {
    width: 1100px;
    padding: 30px;
    min-height: 540px;
    background: #f9f9f9;
    margin: 100px auto 0 auto;
    border-top: 8px solid #54a5da;
    border-bottom: 8px solid #54a5da; }
    body .popupBox .register-form, body .popupBox .login-form {
      padding-right: 20px;
      padding-left: 20px; }
    body .popupBox .register-form h2, body .popupBox .login-form h2 {
      margin-bottom: 20px;
      font-size: 25px;
      color: #55a4dc;
      text-align: center; }
    body .popupBox .register-form input, body .popupBox .login-form input {
      border-radius: 0;
      padding: 15px;
      color: #000; }
    body .popupBox .register-form input[type="checkbox"], body .popupBox .login-form input[type="checkbox"] {
      height: 15px;
      width: 15px;
      float: left;
      margin-right: 10px; }
    body .popupBox .register-form .check-wrapper label, body .popupBox .login-form .check-wrapper label {
      line-height: 24px;
      font-size: 14px; }
    body .popupBox .register-form #Login, body .popupBox .login-form #Login {
      background: #54a5dc;
      border: none;
      padding: 20px 0;
      line-height: 0;
      font-size: 20px;
      border-bottom: 5px solid #0252a9; }
    body .popupBox .form-messages {
      border-left: 1px solid #e1e1e1;
      border-right: 1px solid #e1e1e1;
      min-height: 440px; }
    body .popupBox .form-social-media .social-facebook small, body .popupBox .form-social-media .social-twitter small, body .popupBox .form-social-media .social-google-plus small, body .popupBox .form-social-media .social-linkedin small {
      font-size: 14px;
      line-height: 32px;
      text-align: center;
      display: block;
      color: #fff; }
    body .popupBox .form-social-media .social-facebook {
      height: 34px;
      width: 100%;
      background: #3f61a1;
      margin-bottom: 20px; }
      body .popupBox .form-social-media .social-facebook span {
        font-size: 20px;
        color: #fff;
        line-height: 20px;
        display: block;
        padding: 7px;
        background: #2F4A7D;
        width: 35px;
        text-align: center;
        float: left; }
    body .popupBox .form-social-media .social-linkedin {
      height: 34px;
      width: 100%;
      background: #4b79b7;
      margin-bottom: 20px; }
      body .popupBox .form-social-media .social-linkedin span {
        font-size: 20px;
        color: #fff;
        line-height: 20px;
        display: block;
        padding: 7px;
        background: #446CA2;
        width: 35px;
        text-align: center;
        float: left; }
    body .popupBox .form-social-media .social-twitter {
      height: 34px;
      width: 100%;
      background: #5bc3e8;
      margin-bottom: 20px; }
      body .popupBox .form-social-media .social-twitter span {
        font-size: 20px;
        color: #fff;
        line-height: 20px;
        display: block;
        padding: 7px;
        background: #51ABCB;
        width: 35px;
        text-align: center;
        float: left; }
    body .popupBox .form-social-media .social-google-plus {
      height: 34px;
      width: 100%;
      background: #c23929;
      margin-bottom: 20px; }
      body .popupBox .form-social-media .social-google-plus span {
        font-size: 20px;
        color: #fff;
        line-height: 20px;
        display: block;
        padding: 7px;
        background: #B03325;
        width: 35px;
        text-align: center;
        float: left; }
    body .popupBox .login-form .social-facebook small, body .popupBox .login-form .social-twitter small, body .popupBox .login-form .social-linkedin small, body .popupBox .login-form .social-google-plus small {
      font-size: 12px; }
    body .popupBox .login-form .login-or-register {
      margin: 20px 0;
      text-align: center; }
    body .popupBox .form-messages-login h2 {
      font-size: 25px;
      text-align: center;
      color: #55a4dc;
      margin-bottom: 20px; }
    body .popupBox .form-messages-login p, body .popupBox .form-messages-login .need-help {
      font-size: 18px;
      text-align: center;
      line-height: 31px; }
    body .popupBox .form-messages-login .get-started {
      background: #d9ebff;
      border: none;
      text-transform: uppercase;
      text-align: center;
      padding: 20px 0;
      line-height: 0;
      font-size: 20px;
      border-bottom: 5px solid #0252a9;
      width: 90%;
      display: block;
      margin: 0 auto 20px auto; }
  body .home-container {
    position: relative; }
  body .pointLoginRegister {
    position: absolute;
    border-top: 1px solid #fff;
    bottom: 0;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%; }
    body .pointLoginRegister .home-login {
      float: left; }
    body .pointLoginRegister .home-register {
      float: right; }
  body .pointSearchBox {
    height: 100vh;
    width: 100%; }
    body .pointSearchBox .searchContainer {
      height: 90px;
      width: 600px;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 45%; }
      body .pointSearchBox .searchContainer input[type="text"] {
        border: none;
        padding: 5px 20px;
        width: 100%;
        height: 45px;
        font-size: 20px;
        border: 1px solid #182A5E; }
        body .pointSearchBox .searchContainer input[type="text"]:active, body .pointSearchBox .searchContainer input[type="text"]:focus, body .pointSearchBox .searchContainer input[type="text"]:hover {
          border: none;
          outline: none;
          borde: 1px solid #182A5E !important; }
      body .pointSearchBox .searchContainer a.find_your_point {
        display: block;
        width: 40%;
        height: 34px;
        background: #182A5E;
        position: absolute;
        bottom: 0;
        text-transform: uppercase;
        text-align: center;
        line-height: 36px;
        color: #fff;
        left: 0; }
      body .pointSearchBox .searchContainer a.who_we_are {
        right: 0;
        display: block;
        width: 40%;
        height: 34px;
        background: #182A5E;
        position: absolute;
        bottom: 0;
        text-transform: uppercase;
        text-align: center;
        line-height: 36px;
        color: #fff; }
      body .pointSearchBox .searchContainer .slogan-para {
        height: 35px;
        margin-top: -35px; }
        body .pointSearchBox .searchContainer .slogan-para h2 {
          float: left;
          margin: 0;
          padding: 0;
          height: 35px;
          font-size: 35px;
          text-transform: uppercase; }
          body .pointSearchBox .searchContainer .slogan-para h2 sub {
            bottom: 0;
            font-size: 18px;
            color: #fff;
            margin-left: 10px; }

.profile-top-bar {
  height: 50px;
  width: 100%;
  background: #41ade2; }
  .profile-top-bar h2 {
    font-family: BebasNeueRegular;
    color: #fff;
    padding: 7px 24px;
    float: left; }

.point-chat-icon {
  height: 20px;
  width: 28px;
  background: url("../images/chat.png");
  background-repeat: no-repeat;
  float: left;
  margin-top: 15px;
  cursor: pointer; }
  .point-chat-icon:hover {
    background: url("../images/chat-hover.png");
    background-repeat: no-repeat; }

.point-user-icon, .point-plus-icon, .point-home-icon, .point-power-icon {
  height: 20px;
  width: 28px;
  float: left;
  margin-top: 15px; }

.point-user-icon {
  background: url("../images/user.png") no-repeat; }

.point-plus-icon {
  background: url("../images/plus.png") no-repeat; }

.point-home-icon {
  background: url("../images/home.png") no-repeat; }

.point-power-icon {
  background: url("../images/power.png") no-repeat; }

.point-profile-icon {
  display: block;
  margin-top: 11px;
  margin-right: 17px;
  float: left; }
  .point-profile-icon img {
    height: 32px;
    border: 3px solid #47b7ee;
    width: 32px; }

.point-profile-search {
  position: relative;
  float: left;
  margin-top: 12px;
  margin-right: 18px; }
  .point-profile-search ::-webkit-input-placeholder, .point-profile-search ::-moz-placeholder, .point-profile-search :-ms-input-placeholder {
    color: #fff; }
  .point-profile-search input {
    text-transform: uppercase;
    background: #309cd1;
    border: none;
    color: #fff !important;
    padding: 5px 30px 5px 10px;
    outline: none;
    width: 200px; }
  .point-profile-search .search-icon {
    position: absolute;
    right: 0;
    height: 32px;
    width: 32px;
    top: 0;
    background: url("../images/search-icon.png") no-repeat;
    background-position: 50% 6px;
    cursor: pointer; }
    .point-profile-search .search-icon:hover {
      background: url("../images/search-icon-hover.png") no-repeat;
      background-position: 50% 6px; }

.profile-right-bar {
  float: right;
  padding-right: 24px; }

.point-sidebar {
  display: flex;
  padding: 0;
  width: 200px;
  min-height: 200px;
  height: 913px;
  background: #f9f9f9;
  float: left; }
  .point-sidebar ul.point-sidbar-nav {
    width: 100%;
    margin: 0;
    padding: 0; }
    .point-sidebar ul.point-sidbar-nav li {
      list-style: none;
      position: relative;
      border-right: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1; }
      .point-sidebar ul.point-sidbar-nav li:hover {
        background: #eff9ff; }
        .point-sidebar ul.point-sidbar-nav li:hover .user-dashboard {
          background: url("../images/dashboard-icon-hover.png") no-repeat; }
        .point-sidebar ul.point-sidbar-nav li:hover .user-profile {
          background: url("../images/user-icon-hover.png") no-repeat; }
        .point-sidebar ul.point-sidbar-nav li:hover .services {
          background: url("../images/services-icon-hover.png") no-repeat; }
        .point-sidebar ul.point-sidbar-nav li:hover .user-messages {
          background: url("../images/message-icon-hover.png") no-repeat; }
        .point-sidebar ul.point-sidbar-nav li:hover .user-travel-destination {
          background: url("../images/bag-icon-hover.png") no-repeat; }
        .point-sidebar ul.point-sidbar-nav li:hover .user-packages {
          background: url("../images/calender-icon-hover.png") no-repeat; }
        .point-sidebar ul.point-sidbar-nav li:hover .user-report {
          background: url("../images/report-icon-hover.png") no-repeat; }
        .point-sidebar ul.point-sidbar-nav li:hover .user-setting {
          background: url("../images/setting-icon-hover.png") no-repeat; }
        .point-sidebar ul.point-sidbar-nav li:hover a {
          color: #41ade2; }
      .point-sidebar ul.point-sidbar-nav li a {
        padding: 20px;
        width: 100%;
        display: block;
        font-family: OpenSans;
        font-size: 14px;
        color: #666666;
        padding-left: 55px; }
      .point-sidebar ul.point-sidbar-nav li.active {
        background: #eff9ff; }
        .point-sidebar ul.point-sidbar-nav li.active .user-dashboard {
          background: url("../images/dashboard-icon-hover.png") no-repeat; }
        .point-sidebar ul.point-sidbar-nav li.active .user-profile {
          background: url("../images/user-icon-hover.png") no-repeat; }
        .point-sidebar ul.point-sidbar-nav li.active .user-travel-destination {
          background: url("../images/bag-icon-hover.png") no-repeat; }
        .point-sidebar ul.point-sidbar-nav li.active .user-packages {
          background: url("../images/calender-icon-hover.png") no-repeat; }
        .point-sidebar ul.point-sidbar-nav li.active .user-report {
          background: url("../images/report-icon-hover.png") no-repeat; }
        .point-sidebar ul.point-sidbar-nav li.active .user-setting {
          background: url("../images/setting-icon-hover.png") no-repeat; }
        .point-sidebar ul.point-sidbar-nav li.active a {
          color: #41ade2; }

.user-dashboard, .user-profile, .user-travel-destination, .user-packages, .user-report, .user-setting, .services, .user-messages {
  position: absolute;
  width: 30px;
  height: 18px;
  display: block;
  top: 20px;
  left: 15px; }

.user-dashboard {
  background: url("../images/dashboard-icon.png") no-repeat; }

.services {
  background: url("../images/services-icon.png") no-repeat; }

.user-messages {
  background: url("../images/message-icon.png") no-repeat; }

.user-profile {
  background: url("../images/user-icon.png") no-repeat; }

.user-travel-destination {
  background: url("../images/bag-icon.png") no-repeat; }

.user-packages {
  background: url("../images/calender-icon.png") no-repeat; }

.user-report {
  background: url("../images/report-icon.png") no-repeat; }

.user-setting {
  background: url("../images/setting-icon.png") no-repeat; }

.point-button {
  background: #41ade2;
  padding: 7px 28px;
  border: none;
  border-radius: 2px;
  outline: none;
  text-transform: uppercase;
  color: #fff;
  font-family: OpenSans; }
  .point-button:hover, .point-button:active, .point-button:focus {
    color: #fff; }

.point-user-container {
  font-family: OpenSans; }
  .point-user-container .point-tabs {
    margin-top: 17px;
    border-bottom: 4px solid #006597; }
    .point-user-container .point-tabs li {
      margin-right: 10px; }
      .point-user-container .point-tabs li a {
        padding-left: 30px;
        padding-right: 30px;
        font-family: OpenSans;
        font-size: 14px;
        text-transform: uppercase;
        background: #41ade2;
        color: #fff;
        border: none;
        border-radius: 0; }
        .point-user-container .point-tabs li a:hover {
          background: #006597;
          border: none;
          color: #fff;
          border-radius: 0; }
        .point-user-container .point-tabs li a:active, .point-user-container .point-tabs li a:focus {
          color: #fff; }
      .point-user-container .point-tabs li:first-child {
        margin-left: 22px; }
      .point-user-container .point-tabs li.active a {
        background: #006597;
        border: none;
        border-radius: 0; }
  .point-user-container .point-tab-content h2 {
    font-size: 17px;
    color: #41ade2;
    float: left;
    margin-top: 13px;
    margin-left: 15px; }
  .point-user-container .point-tab-content .tab-top {
    padding: 10px 0;
    border-bottom: 1px solid #e1e1e1; }
  .point-user-container .point-tab-content .point-button {
    float: right;
    margin-left: 10px; }
  .point-user-container .point-tab-content .left-form {
    width: 89%;
    float: left;
    margin: 15px 0; }
  .point-user-container .point-tab-content .right-form {
    width: 45%;
    float: right;
    margin: 15px 0; }
  .point-user-container .point-tab-content .left-form-seperator {
    width: 50%;
    float: left;
    border-right: 1px solid #e1e1e1; }
  .point-user-container .point-tab-content .form-field {
    margin-top: 15px;
    background: #f9f9f9;
    border: 1px solid #e1e1e1;
    padding: 20px 40px; }
    .point-user-container .point-tab-content .form-field label {
      font-family: OpenSansLight; }
    .point-user-container .point-tab-content .form-field .file-wrapper {
      padding: 0;
      background: url("../images/choose-file.png");
      background-repeat: no-repeat;
      background-size: contain; }
      .point-user-container .point-tab-content .form-field .file-wrapper:hover {
        background: url("../images/choose-file-hover.png");
        background-repeat: no-repeat;
        background-size: contain; }
    .point-user-container .point-tab-content .form-field input[type="file"] {
      opacity: 0;
      height: 172px;
      background: none;
      color: transparent;
      border: none;
      background: url("../images/choose-file.png");
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      outline: none; }

.google-map-wrapper {
  padding: 0 !important; }

.user-footer {
  height: 30px;
  padding: 10px;
  width: 100%;
  background: #41ade2; }

.left-form .point-button.point-add-button {
  margin-top: 20px !important; }

.point-add-button, .point-minus-button {
  background-repeat: no-repeat;
  background-position: 10%;
  padding: 10px 40px; }

.point-add-button {
  background-image: url("../images/plus_green_dark.png"); }

.point-minus-button {
  background-image: url("../images/minus_green_dark.png"); }

.point-add-button:hover {
  background-image: url("../images/plus_green.png"); }

.point-minus-button:hover {
  background-image: url("../images/minus_green.png"); }

.point-button-wrapper {
  position: relative; }

.add-node {
  padding: 3px 10px;
  color: #fff;
  background-position: center;
  position: absolute;
  bottom: 0;
  height: 20px;
  right: -23px;
  top: 50%;
  cursor: pointer; }

.pointCamera {
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url("../images/icons.png");
  right: 5px;
  color: #e1e1e1;
  top: 5px;
  cursor: pointer;
  font-size: 30px; }

.change-logo:hover {
  border-color: #006597 !important; }
  .change-logo:hover .pointCamera {
    color: #000; }

.add-new-person {
  margin-top: 10px; }

.contact-person-form {
  position: relative; }

.minus-person {
  height: 16px;
  width: 36px;
  position: absolute;
  border: 5px solid #e1e1e1;
  right: -43px;
  top: 0px;
  cursor: pointer; }
  .minus-person:hover {
    background: #999; }

.count-message {
  color: #fff;
  width: auto;
  height: 16px;
  float: right;
  background: red;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  padding: 3px;
  line-height: 9px; }

.point-chat-icon .count-message {
  margin-top: -9px;
  margin-right: 4px; }

.content-profile {
  float: right;
  margin-top: 10px; }

.add-new {
  padding: 5px 10px; }

.ui-draggable .ui-dialog-titlebar {
  cursor: move;
  background: #41ade2;
  /* border: none; */
  color: #fff;
  border: 1px solid #0999e0; }

.profile-right-bar .bug-report {
  float: left;
  display: block;
  height: 28px;
  width: 28px;
  /* background: red; */
  margin-top: 13px;
  margin-right: 4px;
  line-height: 26px;
  text-align: center;
  font-size: 23px;
  color: #fff;
  cursor: pointer; }

/*# sourceMappingURL=styles.css.map */
