@font-face {
  font-family: ChivoBlack;
  src: url(../fonts/Chivo-Black.ttf);
}

@font-face {
  font-family: ChivoBlackItalic;
  src: url(../fonts/Chivo-BlackItalic.ttf);
}

@font-face {
  font-family: ChivoItalic;
  src: url(../fonts/Chivo-Italic.ttf);
}

@font-face {
  font-family: Chivo;
  src: url(../fonts/Chivo-Regular.ttf);
}

@font-face {
  font-family: ChivoBlack;
  src: url(../fonts/Chivo-Black.ttf);
}

@font-face {
  font-family: OpenSansBold;
  src: url(../fonts/OpenSans/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSansBoldItalic;
  src: url(../fonts/OpenSans/OpenSans-BoldItalic.ttf);
}

@font-face {
  font-family: OpenSansExtraBold;
  src: url(../fonts/OpenSans/OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family: OpenSansExtraBoldItalic;
  src: url(../fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: OpenSansItalic;
  src: url(../fonts/OpenSans/OpenSans-Italic.ttf);
}

@font-face {
  font-family: OpenSansLight;
  src: url(../fonts/OpenSans/OpenSans-Light.ttf);
}

@font-face {
  font-family: OpenSansLightItalic;
  src: url(../fonts/OpenSans/OpenSans-LightItalic.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSansSemiBold;
  src: url(../fonts/OpenSans/OpenSans-Semibold.ttf);
}

@font-face {
  font-family: OpenSansSemiBoldItalic;
  src: url(../fonts/OpenSans/OpenSans-Semibolditalic.ttf);
}

@font-face {

  font-family: BebasNeueBold;
  src: url(../fonts/BebasNeue/BebasNeueBold.ttf);

}
@font-face {

  font-family: BebasNeueBold;
  src: url(../fonts/BebasNeue/BebasNeueBold.ttf);

}
@font-face {

  font-family: BebasNeueBook;
  src: url(../fonts/BebasNeue/BebasNeueBook.ttf);

}
@font-face {

  font-family: BebasNeueLight;
  src: url(../fonts/BebasNeue/BebasNeueLight.ttf);

}
@font-face {

  font-family: BebasNeueRegular;
  src: url(../fonts/BebasNeue/BebasNeueRegular.ttf);

}