@import 'fonts.less';
@popupBoxWidth:1100px;
@popupBoxHeight:540px;
@popupBackground:#f9f9f9;
.main-page{
    background:url('../images/background.jpg');    
background-size:cover;
background-repeat:no-repeat;
background-position:50% 50%;
    }
body{

font-family:Chivo;  
font-size:13px;
h1,h2,h3,h4,h5,h6{
 margin:0;
 padding:0;
}
.fa{min-width:14px;}
a:hover,a:active,a:focus,input:focus,input:active,input:hover,.form-control{
    color:#000;
    box-shadow:none;
    text-decoration:none;
    
    }


.popupBox{
 
 width:@popupBoxWidth;
 padding:30px;
 min-height:@popupBoxHeight;
 background:@popupBackground;
 margin:100px  auto 0 auto;
 border-top:8px solid #54a5da;
 border-bottom  :8px solid #54a5da;
 
 .register-form,.login-form{
     
     padding-right:20px;
     padding-left:20px;
     
     h2{
         margin-bottom:20px; 
         font-size:25px;
         color:#55a4dc;
         text-align:center; 
         
         }
     input{
        border-radius:0;    
        padding:15px;
        color:#e1e1e1;
     }
       input[type="checkbox"]{
        
     height:15px;
     width:15px;
     float:left;
     margin-right:10px;
    
     
    }
    .check-wrapper{
     label{
      line-height:24px; 
       font-size:14px;
     }
    }
    #Login{
        
        background:#54a5dc;
        border:none;
        padding:20px 0;
        line-height:0;
        font-size:20px;
        border-bottom:5px solid #0252a9;
        
    }
     }
     
.form-messages{
    
    
    border-left:1px solid #e1e1e1;
    border-right:1px solid #e1e1e1;
    min-height:440px;
  
    }     
 .form-social-media{
     
     .social-facebook small,.social-twitter small, .social-google-plus small,.social-linkedin small{
         
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    /* width: 100%; */
    display: block;
    color:#fff;
         }
     .social-facebook{
      height:34px;
      width:100%;
      background:#3f61a1;
      margin-bottom:20px;
       
       
      span{
         
    font-size: 20px;
    color: #fff;
    line-height: 20px;
    display: block;
    padding: 7px;
    background: #2F4A7D;
    width: 35px;
    text-align: center;
    float:left;
         
           
      }
       
         
     }
     .social-linkedin{
      height:34px;
      width:100%;
      
      background:#4b79b7;
      margin-bottom:20px;
      
       span{
         
    font-size: 20px;
    color: #fff;
    line-height: 20px;
    display: block;
    padding: 7px;
    background:#446CA2;
    width: 35px;
    text-align: center;
    float:left;
    
         
           
      }
       
     }
     
     .social-twitter{
      height:34px;
      width:100%;
      background:#5bc3e8;
      margin-bottom:20px;
       span{
         
    font-size: 20px;
    color: #fff;
    line-height: 20px;
    display: block;
    padding: 7px;
    background: #51ABCB;
    width: 35px;
    text-align: center;
    float:left;
    
         
           
      }
       
     }
      .social-google-plus{
      height:34px;
      width:100%;
      background:#c23929;
      margin-bottom:20px;
       span{
         
    font-size: 20px;
    color: #fff;
    line-height: 20px;
    display: block;
    padding: 7px;
    background: #B03325;
    width: 35px;
    text-align: center;
    float:left;
    
         
           
      }
       
     }
     
     }
 .login-form{
      .social-facebook,.social-twitter,.social-linkedin,.social-google-plus{
       small{
       font-size:12px;   
       }
      }
      .login-or-register{
          margin:20px 0;
       text-align:center;   
      }
         
     }  
     
     .form-messages-login{
         h2{
             
             font-size:25px;
             text-align:center;
             color:#55a4dc;
             margin-bottom:20px;
             
             }
             p,.need-help{
              font-size:18px;   
              text-align:center;
              line-height:31px;
             }
             .get-started{
                 
                     background: #d9ebff;
    border: none;
    text-transform:uppercase;
    text-align:center;
    padding: 20px 0;
    line-height: 0;
    font-size: 20px;
    border-bottom: 5px solid #0252a9;
    width:90%;
    display:block;
    margin:0 auto 20px auto;
}
         
         }
}
.home-container{
    
 position:relative;   
}
.pointLoginRegister{
      position:absolute;
      border-top:1px solid #fff;
      bottom:0;
      margin:0 auto;
      padding-top:10px;
      padding-bottom:10px;
      width:100%;
      .home-login{
       float:left;   
      }
      .home-register{
       float:right;   
      }
}
 .pointSearchBox{
    height:100vh;
    width:100%;
    .searchContainer{
       
        height:90px;
        width:600px;
       
        margin-left:auto;
        margin-right:auto;
        position:absolute;
        left:0;
        right:0;
        top:45%;
        input[type="text"]{
            border:none;
            padding:5px 20px;
            width:100%;
            height:45px;
            font-size:20px;
            border:1px solid #182A5E;
            &:active,&:focus,&:hover{
                border:none;
                outline:none;
                borde:1px solid #182A5E!important;
                }
      
     
        }
         a.find_your_point {
    display: block;
    width: 40%;
    height: 34px;
    background: #182A5E;
    position: absolute;
    bottom: 0;
    text-transform:uppercase;
    
        text-align: center;
    line-height: 36px;
    color: #fff;
    left:0;
}

 a.who_we_are {
     right:0;
    display: block;
    width: 40%;
    height: 34px;
    background: #182A5E;
    position: absolute;
    bottom: 0;
    text-transform:uppercase;
     
    text-align: center;
    line-height: 36px;
    color: #fff;
}
.slogan-para{
    
 height:35px;
 margin-top:-35px;
 h2{
     float:left;
     margin:0;
     padding:0;
     height:35px;
     font-size:35px;
     text-transform:uppercase;
     sub{
      bottom:0;   
      font-size:18px;
      color:#fff;
      margin-left:10px;
     }
     }
      
}
    }
    
    }


}



// Profile Page //


.profile-top-bar{
    
    height:50px;
    width:100%;
    background:#41ade2;
    h2{
    font-family:BebasNeueRegular;   
    color:#fff;
    padding:7px 24px;
    float:left;
    }
    
    }


.point-chat-icon{
 
 height:20px;
 width:28px;
 background:url('../images/chat.png');
 background-repeat:no-repeat;
 float:left;
 margin-top:15px;
    
}
.point-user-icon,.point-plus-icon,.point-home-icon,.point-power-icon{
    
    
 height:20px;
 width:28px;
 
 float:left;
 margin-top:15px;
    
    }
    .point-user-icon{
    background:url('../images/user.png') no-repeat;
    }
    .point-plus-icon{
        background:url('../images/plus.png') no-repeat;
    }
    .point-home-icon{
        background:url('../images/home.png') no-repeat;
    }
    .point-power-icon{
        background:url('../images/power.png') no-repeat;
    }
.point-profile-icon{
    display:block;
    margin-top:11px;
    margin-right:17px;
    float:left;
    img{
        
     height:32px;
     border:3px solid #47b7ee;
     width:32px;
     
    }
    
    
    }    
    .point-profile-search{
        position:relative;
    float: left;
    margin-top: 12px;
    margin-right: 18px;
         ::-webkit-input-placeholder { /* Firefox 18- */
   color: #fff;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}

:-ms-input-placeholder {  
   color: #fff;
}
     
    input{
    text-transform:uppercase;
     background:#309cd1;
     border:none;
     color:#fff!important;
     padding:5px 30px 5px 10px;
     outline:none;
     width:200px;   
     
     

     
    
    }
    .search-icon{
    position:absolute;
    right:0;
    height:32px;
    width:32px;
    top:0;
    background:url('../images/search-icon.png') no-repeat;
    background-position:50% 6px;
    cursor:pointer;
    &:hover{
        background:url('../images/search-icon-hover.png') no-repeat;
    background-position:50% 6px;
        }
    
    
    }
    }
.profile-right-bar{
    float:right;
    padding-right:24px;
    }
.point-sidebar{
    
 display:flex;   
}
.point-sidebar{
    padding:0;
    width:200px;
    min-height:200px;
    height:913px;
    background:#f9f9f9;
    float:left;
    ul.point-sidbar-nav{
        width:100%;    
        margin:0;
        padding:0;
        li{
            list-style:none;
            position:relative;
            border-right:1px solid #e1e1e1;
            border-bottom:1px solid #e1e1e1;
            &:hover{
                     .user-dashboard{
         
                      background:url('../images/dashboard-icon-hover.png') no-repeat; 
                            }
                        .user-profile{
                              background:url('../images/user-icon-hover.png') no-repeat; 
                            }
                        .user-travel-destination{
                               background:url('../images/bag-icon-hover.png') no-repeat;     
                        }
                                
                        .user-packages{
                               background:url('../images/calender-icon-hover.png') no-repeat;      
                            }
                                    
                        .user-report{
                               background:url('../images/report-icon-hover.png') no-repeat;          
                                    }
                        .user-setting{
                               background:url('../images/setting-icon-hover.png') no-repeat;              
                        }
                background:#eff9ff;
                a{
                    color:#41ade2;
                    }
                }
                
            a{
                
                  padding: 20px;
    width: 100%;
    display: block;
    font-family:OpenSans;
    font-size:14px;
    color:#666666;
    padding-left:55px;
                }
            
            }
            li.active{
                .user-dashboard{
         
                      background:url('../images/dashboard-icon-hover.png') no-repeat; 
                            }
                        .user-profile{
                              background:url('../images/user-icon-hover.png') no-repeat; 
                            }
                        .user-travel-destination{
                               background:url('../images/bag-icon-hover.png') no-repeat;     
                        }
                                
                        .user-packages{
                               background:url('../images/calender-icon-hover.png') no-repeat;      
                            }
                                    
                        .user-report{
                               background:url('../images/report-icon-hover.png') no-repeat;          
                                    }
                        .user-setting{
                               background:url('../images/setting-icon-hover.png') no-repeat;              
                        }
                
                background:#eff9ff;
                a{
                    color:#41ade2;
                    }
                
                }
        }
    }
.user-dashboard,.user-profile,.user-travel-destination,.user-packages,.user-report,.user-setting{
    position:absolute;
    width:30px;
    height:18px;
    
    display:block;
    top:20px;
    left:15px;
    } 
    .user-dashboard{
     background:url('../images/dashboard-icon.png') no-repeat; 
    
    }
                            .user-profile{
                            background:url('../images/user-icon.png') no-repeat; 
                            }
                        .user-travel-destination{
                            background:url('../images/bag-icon.png') no-repeat;     
                        }
                                
                        .user-packages{
                            background:url('../images/calender-icon.png') no-repeat;         
                            }
                                    
                        .user-report{
                             background:url('../images/report-icon.png') no-repeat;            
                                    }
                        .user-setting{
                            background:url('../images/setting-icon.png') no-repeat;                 
                        }
.point-button{
 background:#41ade2;
 padding:7px 28px;
 border:none;
 border-radius:2px;
 outline:none;
 text-transform:uppercase;
 color:#fff;
 font-family:OpenSans;
 &:hover,&:active,&:focus{
     color:#fff;
     }
}
.point-user-container{
        font-family:OpenSans;
    .point-tabs{
        margin-top:17px;
        border-bottom:4px solid #006597;
        li{ margin-right:10px;
            a{
                padding-left:30px;
                padding-right:30px;
                font-family:OpenSans;
                font-size:14px;
                text-transform:uppercase;
                background:#41ade2;
                color:#fff;
                border:none;
                border-radius:0;
                &:hover{
                    background:#006597;
                    border:none;
                    color:#fff;
                    border-radius:0;
                    }
                    &:active,&:focus{
                     color:#fff;   
                    }
                    
                }
                &:first-child{margin-left:22px;}
            }
            li.active{
                a{
                    background:#006597;
                    border:none;
                    border-radius:0;
                    }
                }
        }
    .point-tab-content{
     
     h2{
     font-size:17px;
     color:#41ade2;
     float:left;
     margin-top:13px;
     margin-left:15px;
     }
     .tab-top{
      padding:10px 0;   
      border-bottom:1px solid #e1e1e1;
     }
     .point-button{
      float:right;
      
       margin-left:10px;   
       
     }
     .left-form{
            width:89%;
            float:left;
              margin:15px 0;  
     }
     .right-form{
      width:45%;
      float:right;
              margin:15px 0;  
         
     }
     .left-form-seperator{
      width:50%;
      float:left;
      border-right:1px solid #e1e1e1;
      
     }
     .form-field{
         
        margin-top:15px;
         background:#f9f9f9;
         border:1px solid #e1e1e1;
         padding:20px 40px;
         
         label{
             font-family:OpenSansLight;
             }
             .file-wrapper{
                 padding:0;
                 background: url('../images/choose-file.png');
    background-repeat: no-repeat;
    background-size: contain;
    &:hover{
           background: url('../images/choose-file-hover.png');
    background-repeat: no-repeat;
    background-size: contain;
    }
                 }
             input[type="file"]{
                 opacity:0;
                  height: 172px;
    background: none;
    color: transparent;
    border: none;
    /* opacity: 0; */
    background: url('../images/choose-file.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    outline:none;
             }
         }
    }
    
    }
    .google-map-wrapper{
     padding:0!important; 
    }
    
.user-footer{
 height:30px;
 padding:10px;
 width:100%;
 background:#41ade2;
    
}
.left-form .point-button.point-add-button{
             margin-top:20px!important;
             
    
}
.point-add-button{
       background-image: url('../images/plus.png');
    background-repeat: no-repeat;
    background-position: 10%;
    padding:10px 40px;
    
    }