@font-face {
  font-family: ChivoBlack;
  src: url(../fonts/Chivo-Black.ttf); }
@font-face {
  font-family: ChivoBlackItalic;
  src: url(../fonts/Chivo-BlackItalic.ttf); }
@font-face {
  font-family: ChivoItalic;
  src: url(../fonts/Chivo-Italic.ttf); }
@font-face {
  font-family: Chivo;
  src: url(../fonts/Chivo-Regular.ttf); }
@font-face {
  font-family: ChivoBlack;
  src: url(../fonts/Chivo-Black.ttf); }
@font-face {
  font-family: OpenSansBold;
  src: url(../fonts/OpenSans/OpenSans-Bold.ttf); }
@font-face {
  font-family: OpenSansBoldItalic;
  src: url(../fonts/OpenSans/OpenSans-BoldItalic.ttf); }
@font-face {
  font-family: OpenSansExtraBold;
  src: url(../fonts/OpenSans/OpenSans-ExtraBold.ttf); }
@font-face {
  font-family: OpenSansExtraBoldItalic;
  src: url(../fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf); }
@font-face {
  font-family: OpenSansItalic;
  src: url(../fonts/OpenSans/OpenSans-Italic.ttf); }
@font-face {
  font-family: OpenSansLight;
  src: url(../fonts/OpenSans/OpenSans-Light.ttf); }
@font-face {
  font-family: OpenSansLightItalic;
  src: url(../fonts/OpenSans/OpenSans-LightItalic.ttf); }
@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf); }
@font-face {
  font-family: OpenSansSemiBold;
  src: url(../fonts/OpenSans/OpenSans-Semibold.ttf); }
@font-face {
  font-family: OpenSansSemiBoldItalic;
  src: url(../fonts/OpenSans/OpenSans-Semibolditalic.ttf); }
@font-face {
  font-family: BebasNeueBold;
  src: url(../fonts/BebasNeue/BebasNeueBold.ttf); }
@font-face {
  font-family: BebasNeueBold;
  src: url(../fonts/BebasNeue/BebasNeueBold.ttf); }
@font-face {
  font-family: BebasNeueBook;
  src: url(../fonts/BebasNeue/BebasNeueBook.ttf); }
@font-face {
  font-family: BebasNeueLight;
  src: url(../fonts/BebasNeue/BebasNeueLight.ttf); }
@font-face {
  font-family: BebasNeueRegular;
  src: url(../fonts/BebasNeue/BebasNeueRegular.ttf); }
.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

body, html {
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(#6891a2, #0c6121); }

.card-container.card {
  max-width: 350px;
  padding: 40px 40px; }

.btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default; }

/*
 * Card component
 */
.card {
  background-color: #F7F7F7;
  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

/*
 * Form styles
 */
.profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em; }

.reauth-email {
  display: block;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.form-signin #inputEmail, .form-signin #inputPassword {
  direction: ltr;
  height: 44px;
  font-size: 16px; }
.form-signin input[type=email], .form-signin input[type=password], .form-signin input[type=text] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
.form-signin button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
.form-signin .form-control:focus {
  border-color: #6891a2;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #6891a2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #6891a2; }

.btn.btn-signin {
  /*background-color: #4d90fe; */
  background-color: #6891a2;
  /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s; }
  .btn.btn-signin:hover, .btn.btn-signin:active, .btn.btn-signin:focus {
    background-color: #0c6121; }

.forgot-password {
  color: #6891a2; }
  .forgot-password:hover, .forgot-password:active, .forgot-password:focus {
    color: #0c6121; }

select[name="language"] {
  margin: 0 auto;
  float: none;
  display: block; }

/*# sourceMappingURL=styles.css.map */
