    @import 'fonts.less';   
    
    a,h1,h2,h3,h4,h5,h6{
        text-decoration:none;
          margin:0;
            padding:0;
        &:hover{
            text-decoration:none;
            margin:0;
            padding:0;
            }
        }
body{
    margin:0;
    padding:0;
    font-family:'OpenSans'; 
    
    }
.point-container{
    width:1000px;
    }
.top-bar{
    
    height:30px;
    width:100%;
    background:rgb(65,173,226);
    .login-register{
        float:right;
        font-size:12px;
        color:#fff;
        a{
            color:#fff;
            line-height:26px;
            }
        }
    }  
.search-wrapper{
    margin-top:70px;
    background:rgb(245,245,245);
    min-height:500px;
    
    h2{
        font-family:OpenSansLight;
        font-size:36px;
        color:#41ADE2;
        text-align:center;
        padding:30px 0;
        }
        
        
    
    }    
.point-search{
    
    min-height:300px;
    width:600px;
    background:rgb(252,252,252);
    margin:0 auto;
    
    h2{
        font-family:OpenSans;
        font-size:14px;
        color:rgb(102,102,102);
        text-align:center;
        padding:50px 0;
        
        
        }
        .point-search-box{
            width:475px;
            height:40px;
            margin:0 auto;
            display:block;
            padding:0 10px;
            color:rgb(102,102,102);     
            
            }
    }    
.search-submit{
    padding:11px 45px;
    background:#41ade2;
    border:none;    
    font-size:14px;
    text-transform:uppercase;
    display:block;
    margin:35px auto 0 auto;
    color:#fff;
    }
    
.search-grid{
    padding:60px 0;
    .grid-title{
        border-top:1px solid #e1e1e1;
        border-bottom:1px solid #e1e1e1;
        padding:10px 0;
 h3{
  font-size:18px;
  color:#41ade2;
 }
    }
    .grids{
      
     margin-top:20px;   
     
     .grid-item{
         padding-left:7px;
         padding-right:7px;
         margin-top:15px;
         .gray-grid{
             min-height:125px;
             background:#c3c3c3;
             width:100%;
         }
        .grid-detail{
            padding:10px;
            background:#f9f9f9; 
         h5{
          font-size:12px;
          color:#41ade2;
          padding:2px 2px 5px 2px;
          line-height:20px;
         }
         span.grid-package{
          color:#666666;
          font-size:12px;
          float:left;
         }
         span.grid-agencies{
          color:#666666;
          font-size:12px;
          float:right;
         }
        }
     }
    }
}
.point-container{
    padding-left:0;
    padding-right:0;
.point-newsletter{
    min-height:125px;
    background:url('../images/signup-banner.jpg');
    background-size:cover;
    
    padding:10px 50px;
    position:relative;
    
    h3{
        font-size:40px;
        color:#fff;
        font-family:OpenSansLight;
        padding:5px 0;
        }
        small{
            color:#fff;
            font-size:15px;
            padding:8px 0;
            display:inline-block;
            }
            a.newsletter-join{
                    display: block;
    position: absolute;
    right: 50px;
    top: 35%;
    padding: 10px 35px;
    color: #fff;
    background: #41ade2;
    text-transform:uppercase;
    font-size:13px;
    text-align:center;
    border-radius:5px;
                }
    
    }
}
footer{
    background:#f5f5f5;
    padding-top:40px;
    margin-top:60px;
    min-height:380px;
    .footer-detail{
        h3{
            color:#41ade2;
            font-size:18px;
            }
            ul{
                margin:10px 0 0 0; padding:0;
                list-style:none;
                a,li{
                    font-size:12px;
                    line-height:24px;
                    color:#41ade2;
                    }
                    a{
                        margin-left:13px;
                        }
                }
        
        
        }
        .direct-contact{
            h3{
            margin-bottom:10px;
            }
            span{
                font-size:12px;
                color:#41ade2;
                line-height:24px;
                display:block;
                }
            
            }
.footer-bottom{
    padding:10px 0;
 height:60px;
 margin-top:20px;
 background:#41ade2;
}
    }    